nav {
  width: 100%;
  height: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #4476b4;
  align-items: center;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-width: 250px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.links a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin: 0 10px;
  text-decoration: none;
}

#logout {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0 10px;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

.links a:hover {
  color: #f2df35;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.links a.active {
  color: #f2df35;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.generate-resp-btn {
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  background-color: #000000;
  color: #fff;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.generate-resp-btn:hover {
  background-color: #f2df35;
  color: #000000;
}

.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.user-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-icon strong {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin: 0 5px;
  text-decoration: none;
}
