<div class="container">
  <div class="banner">
    <div class="content">
      <h1>
        To get what you want ,<br />
        <span>You have to</span> just ask , <span>what you want!</span>
      </h1>
      <p>Start with us by creating your profile.</p>
      <div class="action-btns">
        <button
          class="btn btn-primary"
          routerLink="/login"
          [ngStyle]="{
            display: login_logoutDisplay() == true ? 'none' : 'block'
          }"
        >
          Login / Register
        </button>
        <button
          class="btn btn-secondary"
          routerLink="/login"
          [ngStyle]="{
            display: login_logoutDisplay() == true ? 'block' : 'none'
          }"
        >
          Get Started!
        </button>
      </div>
    </div>

  </div>
</div>
